* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px red solid; */
  font-family: consolas;
}

body {
  background-color: rgb(1, 4, 9);
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, span {
  color: rgb(230, 235, 241);
  text-align: center;
  line-height: 1.5;
}

h1 {
  font-size: 31px;
}

p {
  line-height: 1.5;
  font-size: 20px;
}

.flex-1 {
  flex: 1;
}

.flex {
  display: flex;
}

.row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.text--green {
  color: rgb(86, 184, 111);
}

/* NAVIGATION BAR */

/* .avatar,
.avatar-image {
  height: 70px;
  width: 70px;
  align-items: flex-start;
  padding-left: 5px;
  padding-top: 5px;
} */

nav {
  height: 75px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 13.5em;
}

.dropdown * {
  box-sizing: border-box;
}

.dropdown {
  min-width: 15rem;
  position: relative;
  margin: 2em;
}

.select {
  background: rgb(13, 16, 23);
  color: rgb(230, 235, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px #2a2f3b;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
}

/* clicked styles (JavaScript) */
.select-clicked {
  border: 2px #26489a solid;
  box-shadow: 0 0 0.8em #26489a;
}

.select:hover {
  background-color: #323741;
}

.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid rgb(230, 235, 241);
  transition: 0.3s;
}

/* rotate styles */

.caret-rotate {
  transform: rotate(180deg);
}

li {
  list-style-type: none;
  display: block;
}

.menu {
  list-style: none;
  padding: 0.1em 0.25em;
  background: #323741;
  border: 1px #363a43 solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  color: rgb(230, 235, 241);
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  display: none;
  transition: 0.2s;
  z-index: 1;
}

.menu li {
  padding: 0.3em 0.2em;
  border-radius: 0.5em;
}

.menu li:hover {
  background: #2a2d35;
}

/* active styles (javascript) */
.active {
  background: #23242a;
}

/* open styles */
.menu-open {
  display: block;
}

.nav-anchor {
  margin: 0 12px;
  color: rgb(230, 235, 241);
  text-decoration: none;
  font-weight: 700;
}

.link-hover-black {
  color: black;
}

.link-hover-black:hover {
  color: rgba(92,172,255,255);
}

.nav-link-primary {
  background-color: rgba(92,172,255,255);
  color: rgb(230, 235, 241);
  padding: 8px 20px;
  border-radius: 50px;
  border-color: rgb(230, 235, 241);
  transition: all 300ms ease;
}

.nav-link-primary:hover {
  background-color: rgba(148,148,148,255);
}

.title {
  font-size: 24px;
  color: rgba(92,172,255,255);
  margin: 0 12px;
  font: bold;
  padding-left: 10px;
}

/* About */
#about {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
}

.about-me {
  max-height: 100vh;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  margin: 1em;
  text-align: center;
  background-color: rgb(13, 16, 23);
}

.about-me-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgb(36, 36, 36);
  margin-bottom: 10px;
  margin-top: 10px;
}

.about-me-link {
display: flex;
align-items: center;
}

.headshot {
  width: 105%;
}

.about-me-p {
  font-size: 20px;
  margin-bottom: 25px;
  color: rgb(230, 235, 241);
}

.about-me-title {
    margin-bottom: 16px;
}

.about-link {
  display: inline-block;
  font-size: 20px;
  color: rgb(230, 235, 241);
  text-decoration: none;
  margin: 10px;
}

.about-link button {
  display: inline-block;
  font-size: 20px;
  color: rgb(230, 235, 241);
  text-decoration: none;
  padding: 10px;
}

.about-link i.fa-envelope {
  font-size: 16px;
}

.about-link i.fa-envelope:hover {
  cursor: pointer;
}

#copyEmailBtn {
  color: rgb(255, 255, 255);
  background: transparent;
  border: none;
  font-size: medium;
  text-decoration: underline;
  cursor: pointer;
}

#copyEmailBtn:hover {
  text-decoration: none;
}

#text {
  position: absolute;
  color: rgb(254, 238, 218);
}

/* water effect text */
/* .loader {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20em;
  text-align: center;
} */

.loader h1 {
	text-transform: uppercase;
	font-size: 8em;
	color: rgba(255,255,255,.1);
	background-image: url(https://image.ibb.co/ciSeac/image.png);
	background-repeat: repeat-x;
	/* -webkit-background-clip: text; */
	animation: animate 15s linear infinite;
}

@keyframes animate {
	0%{
		background-position: left 0px top 80px;
	}
	40%{
		background-position: left 800px top -50px;
	}
	80%{
		background-position: left 1800px top -50px;
	}
	100%{
		background-position: left 2400px top 80px;
	}
}

/* TECH STACK */

.section-title {
    text-align: center;
    padding-top: 1em;
}

.language-img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms;
}
.language:hover .language-img {
  filter: brightness(80%);
  opacity: 0.86;
  transform: scale(0.9);
}

.language {
  width: 25%;
  display: flex;
  justify-content: center;
  position: relative;
}

.language-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language-list {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.language-name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms;
  font-size: 20px;
  opacity: 0;
}
.language:hover .language-name {
  transform: scale(1);
  opacity: 1;
}

  /* PROJECTS */

.project {
  margin-bottom: 135px;
}
  
.project:last-child {
  margin-bottom: 40px;
}

.project-img {
  width: 100%;
  transition: all 500ms ease;
}

.project-wrap {
  display: flex;
  box-shadow: 0 20px 80px rgb(57, 57, 57);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.project-wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: all 450ms ease;
  z-index: 2;
  transform: translateY(100%);
}
.project:hover .project-wrap:before {
  transform: translateY(0);
  opacity: 0.7;
}
.project:hover .project-img {
  transform: scale(1.07);
  filter: blur(5px);
}

.project:hover .project-description {
  opacity: 1;
  transform: translateY(-50%);
}

.project-list {
  padding-top: 40px;
}

.project-description {
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  max-width: 550px;
  z-index: 3;
  opacity: 0;
  transition: transform 450ms, opacity 300ms;
}

.project-title {
  font-size: 40px;
}

.project-p {
  margin: 16px 0;
  text-decoration: none;
}

.project-link {
  font-size: 20px;
  margin-right: 16px;
}

.project-title,
.project-languages,
.project-p,
.project-link {
  text-align: left;
  color: rgb(230, 235, 241);
}

/* FOOTER */

footer {
  background-color: rgb(13, 16, 23);
}

.footer-list {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 8% 0; */
}

.footer-logo {
  width: 70px;
  height: 70px;
}

.footer-link,
.footer-name {
  color: rgb(255, 255, 255);
  background: transparent;
  border: none;
  font-size: medium;
  text-decoration: underline;
}

.footer-anchor {
  margin-bottom: 20px;
  position: relative;
}

.footer-anchor:hover .footer-figure {
  transform: translateX(60px);
  opacity: 1;
  cursor: pointer;
}

#copyEmailBtnFooter {
  cursor: pointer;
}

/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
  nav {
    height: 68px;
  }

  h1 {
    font-size: 28px;
  }

  .about-me-p {
    font-size: 18px;
  }

  .language {
    width: calc(100% / 3);
  }

  .project-description-p {
    font-size: 14px;
  }

  .project-description {
    left: 30px;
    padding-right: 30px;
  }
}

/* SMALL PHONES */
@media (max-width: 480px) {
  .nav-link:not(:last-child) {
    display: none;
  }

  .project-wrap {
    border-radius: 0;
  }

  .project-description {
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project-description-p {
    display: none;
  }

  .project-links {
    display: flex;
    justify-content: center;
  }

  .project-title {
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project-languages {
    text-align: center;
    margin: 12px 0;
  }
}
